{% import _self as macros %}

{% macro content() %}
    <div id="feedback" data-uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Оставить заявку</h2>
            <button type="button" class="uk-modal-close-default" data-uk-close></button>
            <p class="uk-margin-top">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa deserunt doloribus facere quibusdam
                repellat. Animi, aspernatur culpa delectus dignissimos eaque eius esse exercitationem ipsam ipsum labore
                modi mollitia necessitatibus, nemo nesciunt nihil numquam placeat qui quibusdam quos reprehenderit
                sapiente, tempora tempore tenetur veniam voluptas?
            </p>
        </div>
    </div>
{% endmacro %}

{{ macros.content }}
