body, html {
    margin: 0;
    padding: 0;
}

@mixin page-title-mixin {
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    font-size: toRem(38px);
    line-height: 120%;

    margin-right: 8px;

    @include vw-xs-down {
        margin-bottom: 8px;
    }
}

.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__main {
        flex: 1;
    }

    &__section {
        padding-y: 80px;

        &--slider {
            padding-y: 40px 60px;
            @include vw-sm-down {
                padding-y: 20px 40px;
            }
        }

        &--projects {
            background-color: $color-snow-drift;

            padding: 92px 60px;

            @include vw-sm-down {
                padding: 32px 16px;
            }
        }
    }
}

.Page {
    padding-y: 40px 80px;

    @include vw-sm-down{
        padding-top: 20px;
    }

    &__breadcrumbs {
        padding-bottom: 48px;

        @include vw-sm-down {
            padding-bottom: 32px;
        }
    }

    &__title {
        @include page-title-mixin;

        margin-bottom: 32px;
    }
}

.Container {
    @extend .uk-container;
}
